body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.changedMargins {
  margin: 0px;
  padding: 0px;
}

.landing-title-text {
  font-size: 3rem;
  margin: 10px 10px 10px 10px;
}


.landing-paragraph {
  font-size: 14px;
}

.landing-page-background-specific {
   padding-top: 100px;
}

.landing-page-background {
  background-color: green;
}

.landing-page-background-pic {
  padding-bottom: 25px;
  margin-bottom: 0px;
  background-color: green;
}


.landing-page-button {
  margin: 100px 100px 100px 100px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.footer-content {
  background-color: rgb(27, 28, 29);  
  color: white;
}

.menu-segment {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.siteTeal{
  background-color: #1DCB8B;
}

.mrg{
  margin: 50%;
}

#schedulerButton {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}